@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbars oscuras */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #84cc16;
}
